/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  /* border: 0; */
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS Code */

body {
  font-size: 16px;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
  text-align: center;
}

.nav-bar {
  background-color: #07154c;
  text-align: center;
  padding: 16px 0;
}

.nav-bar-item {
  display: inline-block;
}

.nav-bar-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;
  margin-right: 64px;
}

.item-active {
  color: #14b03b;
}

.home-h1 {
  font-size: 40px;
  font-family: serif;
  font-weight: 600;
  margin: 72px 0;
}

.home-h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 64px;
}

.box-model {
  height: 300px;
  width: 300px;
  background-color: #99d8ca;
  display: inline-block;
  border: 10px solid #0d1430;
  border-radius: 16px;
  box-shadow: 0 0 0 20px #90ffa9, inset 0 0 0 20px #5873e2;
  margin-top: 20px;
  margin-bottom: calc(32px + 20px);
}

.legend-item {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin-right: 24px;
}

.legend-shade {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid black;
  border-radius: 100%;
  margin-right: 8px;
}

.content {
  background-color: #99d8ca;
}

.border {
  background-color: #0d1430;
}

.margin {
  background-color: #99ffa9;
}

.padding {
  background-color: #5873e2;
}

hr {
  height: 0px;
  display: block;
  border: 0;
  border-top: 5px dotted #ccc;
  margin: 64px 0;
  padding: 0px;
}

.parent-box {
  width: 660px;
  border: 2px solid #000;
  font-size: 0;
  display: inline-block;
}

.child-box {
  width: 200px;
  height: 180px;
  background-color: #dae0fa;
  display: inline-block;
  margin: 10px;
}

.border {
  border: 2px solid black;
}

.borderbox {
  box-sizing: border-box;
}

.exercise2 {
  margin-bottom: 72px;
}

/* Blog page CSS */
.articles {
  /* border: 2px solid red; */
  margin: 48px 0;
}

.article-main {
  /* border: 2px solid red; */
  margin-bottom: 48px;
}

.article-img {
  display: inline-block;
  width: 100%;
}

.container {
  font-size: 0;
}
.container-img,
.container-text {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

.article-heading {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

.article-desc {
  font-size: 20px;
  margin-bottom: 24px;
  line-height: 1.5;
}

.article-cta {
  font-size: 20px;
  display: inline-block;
  color: #19bb3d;
  /* border: 2px solid red; */
}

.cta-main {
  padding: 10px 24px;
  background-color: #19bb3d;
  color: white;
  text-decoration: none;
  font-weight: 700;
  border-radius: 20px;
}

.container-text {
  text-align: left;
}

.container-text {
  /* border: 2px solid red; */
  vertical-align: top;
  padding-left: 16px;
}

.container-img {
  padding-right: 16px;
}

.article-col {
  width: 50%;
  text-align: left;
}

.article-row {
  /* font-size: 0; */
  /* width: 100%; */
}

.article-row > * {
  /* border: 2px solid red; */
  display: inline-block;
  box-sizing: border-box;
}

.col2 {
  padding-left: 16px;
}

.col1 {
  padding-right: 16px;
}
